<a href="https://colab.research.google.com/github/ManuelT004/CSC221_Mteja004/blob/main/Assignment15.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#tiy 11-1

def cit_func(city_name, country_name):
    return f"{city_name.title()}, {country_name.title()}"

In [3]:
def test_city_country():
    test_cases = [
        ("new york", "united states"),
        ("paris", "france"),
        ("tokyo", "japan"),
        ("london", "united kingdom"),
    ]

    for city, country in test_cases:
        result = cit_func(city, country)
        expected = f"{city.title()}, {country.title()}"

        if result == expected:
            print(f"Test passed for {city.title()}, {country.title()}")
        else:
            print(f"Test failed for {city.title()}, {country.title()}. Expected: {expected}, Got: {result}")

test_city_country()

Test passed for New York, United States
Test passed for Paris, France
Test passed for Tokyo, Japan
Test passed for London, United Kingdom

In [4]:
#tiy 11-2

def cit_func(city_name, country_name, population):
    formatted_city_country = f"{city_name.title()}, {country_name.title()}"
    return f"{formatted_city_country} - population {population}"

city = "new york"
country = "united states"
population = 8500000

result = cit_func(city, country, population)
print(result)

New York, United States - population 8500000

In [ ]:
def cit_func(city_name, country_name, population=None):
    formatted_city_country = f"{city_name.title()}, {country_name.title()}"

    if population:
        return f"{formatted_city_country} - population {population}"
    else:
        return formatted_city_country

city = "new york"
country = "united states"

result_with_population = cit_func(city, country, 8500000)
print(result_with_population)

result_without_population = cit_func(city, country)
print(result_without_population)

In [5]:
def cit_func(city_name, country_name, population=None):
    formatted_city_country = f"{city_name.title()}, {country_name.title()}"

    if population:
        return f"{formatted_city_country} - population {population}"
    else:
        return formatted_city_country

def test_city_country():
    test_cases = [
        (("new york", "united states", 8500000), "New York, United States - population 8500000"),
        (("paris", "france"), "Paris, France"),
        (("tokyo", "japan", 38000000), "Tokyo, Japan - population 38000000"),
        (("london", "united kingdom"), "London, United Kingdom")
    ]

    for args, expected_result in test_cases:
        result = cit_func(*args)

        if result == expected_result:
            print(f"Test passed for {args}. Result: {result}")
        else:
            print(f"Test failed for {args}. Expected: {expected_result}, Got: {result}")

test_city_country()

Test passed for ('new york', 'united states', 8500000). Result: New York, United States - population 8500000
Test passed for ('paris', 'france'). Result: Paris, France
Test passed for ('tokyo', 'japan', 38000000). Result: Tokyo, Japan - population 38000000
Test passed for ('london', 'united kingdom'). Result: London, United Kingdom